* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 !important;
}

.App {
    display: flex;
    gap: 3rem;
}

.left-content {
    width: 15%;
}
.right-content {
    width: 85%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#8A96B1);
    border-radius: 6px;
}